hw01/data/
hw01/notebooks/.ipynb_checkpoints/
hw02/notebooks/.ipynb_checkpoints/
hw02/data/
data/*
notebooks/.ipynb_checkpoints/
.DS_Store
notebooks/.DS_Store
pdfs/
notebooks/__pacache__/
notebooks/poisson-gpfa/
